body {
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    /* 300, 400, 600 */
    padding: 0;
    margin: 0;
    background-image: linear-gradient(
        135deg,
        hsl(0, 0%, 100%),
        hsl(0, 100%, 98%)
    );

    --primary-one: hsl(0, 93%, 68%);
    --primary-two: hsl(0, 36%, 70%);
    --neutral-one: hsl(0, 6%, 24%);
}

.wrapper {
    display: grid;
    text-align: center;
}

.logo-header {
    padding: 2rem 2.5rem 2rem;
    text-align: left;
    /* display: flex; */
    /* align-items: center; */
}

.main-img {
    height: 15.625rem;

    display: block;
    background-image: url(/images/hero-mobile.jpg);
    /* background-repeat: no-repeat; */

    background-position: center;
    /* background-size: cover; */
}

.heading {
    font-weight: 600;
    letter-spacing: 1rem;
    margin: 4rem auto 2rem;
    color: var(--neutral-one);
    line-height: 2.25rem;
}

.heading-highlight {
    color: var(--primary-two);
    font-weight: 300;
}

.paragraph {
    color: var(--primary-one);
    width: 70%;
    max-width: 30rem;

    font-size: 0.75rem;
    line-height: 1.1rem;
    margin: 0rem auto 2.5rem;
}

.form {
    /* background-color: green; */
    position: relative;
}

.form-input {
    background-color: transparent;
    color: var(--primary-two);
    font-weight: 300;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    height: 3rem;
    width: clamp(18rem, 70%, 25rem);

    max-width: 25rem;
    padding-left: 1.5rem;
    border: solid 0.065rem var(--primary-two);
    border-radius: 1.75rem;
}

.form-button {
    position: absolute;
    font-size: 0;
    height: 3rem;
    width: 4rem;
    transform: translateX(-100%);

    border: solid 0rem transparent;

    background-image: url(/images/icon-arrow.svg),
        linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    /* background-image: url(/images/icon-arrow.svg); */
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1.75rem;

    padding: 0;
    margin: 0;
}
