body {
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    /* 300, 400, 600 */
    padding: 0;
    margin: 0;

    --primary-one: hsl(0, 93%, 68%);
    --primary-two: hsl(0, 36%, 70%);
    --neutral-one: hsl(0, 6%, 24%);

    /* Gradients
    - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
    - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
     */
}

.wrapper {
    display: grid;
    text-align: center;
}

.logo-header {
    padding: 2rem 2.5rem 2rem;
    text-align: left;
    /* display: flex; */
    /* align-items: center; */
}

.main-img {
    height: 15.625rem;

    display: block;
    background-image: url(/images/hero-mobile.jpg);
    /* background-repeat: no-repeat; */

    background-position: center;
    /* background-size: cover; */
}

.heading {
    font-weight: 600;
    letter-spacing: 1rem;
    margin: 4rem auto 2rem;
}

.heading-highlight {
    color: var(--primary-two);
    font-weight: 300;
}

.paragraph {
    color: var(--primary-two);
    width: 80%;
    margin: auto;
}
